.side-bar {
    background-color: white;
    align-items: center;

    position: fixed;
    top:45px;
    bottom: 0;
    left: 0;
    width: 70px;
    padding-top: 8px;
    z-index: 200;
}

.side-bar-item-container {
    height: 52px;
    padding-top: 14px;
    vertical-align: center;
}

.side-bar-item-container:hover {
    background-color: rgb(233, 233, 233);
}

.img {
    width: 24px;
    align-items: center;
    padding-left: 23px;
}

.detail {
    font-size: 10px;
    text-align: center;
}